<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ConnectionFilter</filter-name>
        <filter-class>API.ConnectionFilter</filter-class>
        <init-param>
            <param-name>mail</param-name>
            <param-value>mail</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ConnectionFilter</filter-name>
        <servlet-name>ServletConnexion</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>pageHomeAdmin</servlet-name>
        <servlet-class>admin.pageHomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageHomeUser</servlet-name>
        <servlet-class>users.PageHomeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDB</servlet-name>
        <servlet-class>database.TestDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>API.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageModificationUser</servlet-name>
        <servlet-class>users.PageModificationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTemporaireUser</servlet-name>
        <servlet-class>users.ServletTemporaireUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpruntDeLivre</servlet-name>
        <servlet-class>admin.EmpruntDeLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetourDeLivre</servlet-name>
        <servlet-class>admin.RetourDeLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDLivre</servlet-name>
        <servlet-class>admin.CRUDLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUtilisateur</servlet-name>
        <servlet-class>admin.CRUDUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeconnexion</servlet-name>
        <servlet-class>API.ServletDeconnexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pageHomeAdmin</servlet-name>
        <url-pattern>/pageHomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageHomeUser</servlet-name>
        <url-pattern>/PageHomeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageModificationUser</servlet-name>
        <url-pattern>/PageModificationUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTemporaireUser</servlet-name>
        <url-pattern>/ServletTemporaireUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpruntDeLivre</servlet-name>
        <url-pattern>/EmpruntDeLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetourDeLivre</servlet-name>
        <url-pattern>/RetourDeLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDLivre</servlet-name>
        <url-pattern>/CRUDLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUtilisateur</servlet-name>
        <url-pattern>/CRUDUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDB</servlet-name>
        <url-pattern>/TestDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeconnexion</servlet-name>
        <url-pattern>/ServletDeconnexion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
